/* Change Habit Section Style Start */
.change-habit {
  background: linear-gradient(180deg, #111111 100%, #777777 0%);
  padding-inline: 1.75rem;
  padding-bottom: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  align-items: center;
}
.change-habit-title {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: bold;
  padding-bottom: 1rem;
}
.change-habit-sub-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 0.75rem;
  font-weight: lighter;
  line-height: 1.8;
}
.change-habit-card-container {
  display: grid;
  gap: 2rem;
  max-width: 1060px;
}
.card {
  display: grid;
  place-items: center;
}
.card-1 > h4,
.card-2 > h4,
.card-3 > h4,
.card-4 > h4 {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  font-weight: bold;
}
.card-1 > p,
.card-2 > p,
.card-3 > p,
.card-4 > p {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  font-weight: lighter;
  padding-top: 0.5rem;
  text-align: center;
  max-width: 30ch;
}
.img-container {
  margin-bottom: 1.5rem;
  border: 3px solid #252525;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container > img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (min-width: 768px){
  .change-habit{
    padding-block: 4rem;
  }
  .habit-heading{
    display: grid;
    place-items: center;

  }
  .change-habit-title{
    font-size: 3rem;
    font-weight: 900;
  }
  .change-habit-sub-title{
    max-width: 55ch;
    text-align: center;
  }
  .change-habit-card-container{
    grid-template-columns: repeat(2,1fr );
  }
}
@media only screen and (min-width: 1024px) {
  .change-habit-card-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Change Habit Section Style End */
