:root {
  --primary-color: #e6533c;
  --secondary-color: #222222;
  --primary-text-color: #ffffff;
  --secondary-text-color: hsla(0, 0%, 100%, 0.5);
  --gradient-bg-clr-1: #111111;
  --gradient-bg-clr-2: #777777 ;
}
* {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;

  margin: 0;
  padding: 0;
}
/* .great-vibes-regular { */
  /* font-family: "Great Vibes", cursive; */
  /* font-weight: 400; */
  /* font-style: normal; */
/* } */
body{
  overflow-x: hidden;
}

/* Common Styles */
.title-style{
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-text-color);
}
.shape{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: regular;
}
.subtitle-style{
font-size: 0.875rem;
font-weight: 200;
line-height: 1.5rem;
color: var(--secondary-text-color);
}
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Header Section style */
.header-section {
  background: linear-gradient(180deg, #111111 100%, #777777 0%);
  display: grid;
  place-items: center;
}
nav {
  padding-block: 3.25rem;
  width: calc(100% - 2.25rem);
  max-width: 1060px;
}
.nav{
 list-style: none;
 display: none;
}
.nav-list{
  padding-block: .75rem;
  padding-inline: 1.5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  
}
.nav > li > a{
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.1rem ;
  background-color: transparent;
}
.nav-list-1{
  background-color: var(--primary-color);
}
.logo-name {
  font-size: 2.2rem;
  color: var(--primary-color);
  font-style: italic;
  font-weight: 800;
}
.fa-bars {
  font-size: 1.5rem;
  color: var(--primary-text-color);

  display: block;
}
.main-container {
  padding-inline: 1.25rem;
  max-width: 1060px;
}
.hero-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.hero-sub-title {
  color: var(--secondary-text-color);
  padding-block: 1.75rem;
}
.btn-container{
  display: flex;
  gap: 1rem;
}

.btn {
  padding-inline: 2.59375rem;
  padding-block: 1rem;
  text-transform: capitalize;
  outline: none;
  -webkit-border-radius: 2.625rem;
  -moz-border-radius: 2.625rem;
  -ms-border-radius: 2.625rem;
  -o-border-radius: 2.625rem;
  border-radius: 2.625rem;
  font-weight: bold;
  color: var(--primary-text-color);
}
.btn-1 {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-2 {
  background-color: transparent;
  border: 2px solid var(--primary-text-color);
padding-inline: 1rem;
}

.hero-img-container{
  position: relative;
}
.img-feature-1{
  position: absolute;
  top: 10%;
  left: 57%;
  background-color: hsla(0, 0%, 21%, 0.5);
  border: 1px solid hsla(0, 0%, 43%, 0.063);
  backdrop-filter: blur(60%);
  -webkit-backdrop-filter: blur(50%);
  padding-block: .5rem;
  padding-inline: 1rem;
  -webkit-border-radius: .5rem ;
  -moz-border-radius: .5rem ;
  -ms-border-radius: .5rem ;
  -o-border-radius: .5rem ;
  border-radius: .5rem ;
}
.img-feature-1 > h4{
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-weight: 800;
  padding-bottom: 0.25rem;
}
.img-feature-1 > p{
  font-size: .6rem;
  color: var(--primary-text-color);
font-weight: lighter;
text-transform: capitalize;
}
.img-feature-2{
  display: flex;
  align-items: center;
  gap: .5rem;
  position: absolute;
  background-color: hsla(0, 0%, 21%, 0.5);
  border: 1px solid hsla(0, 0%, 43%, 0.063);
  backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(50%);
  padding: 1rem;
  top: 50%;
  -webkit-border-radius: .5rem ;
  -moz-border-radius: .5rem ;
  -ms-border-radius: .5rem ;
  -o-border-radius: .5rem ;
  border-radius: .5rem ;
}
.icon-container{
  background-color: var(--primary-color);
  width: .5rem;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: var(--primary-text-color);
}
.feature-2-content > h4{
  color :var(--primary-text-color);
  font-weight: bold;
  
}
@media only screen and (min-width: 768px) {
  .title-style{
    font-size: 2.25rem;
  }
  .header-section{
    padding-inline: 1.8rem          ;
  }
  .nav{
    display: flex;
 align-items: center;
 justify-content: space-between;
 /*gap: 1rem;
 */border: 1px solid var(--secondary-color);
 padding: 0.25rem;
 -webkit-border-radius:2rem ;
 -moz-border-radius:2rem ;
 -ms-border-radius:2rem ;
 -o-border-radius:2rem ;
 border-radius:2rem ;
  }
  .fa-bars{
    display: none;
  }
  .hero-title{
    font-size: 4.875rem;
    font-weight: 900;
  }
  .main-container{
    display: grid;
    place-items: center;
    padding-inline: 4.5rem;
    row-gap: 3rem;
  }
}
.feature-2-content > p{
  color :var(--secondary-text-color);
  font-weight: normal;
  text-transform: capitalize;
  font-size: .6rem;
}     

@media only screen and (min-width: 1024px){
  .main-container{
    display: flex;
    gap: 4rem;
  }
}                                                                                                                                                                                                                                                                                                                                                                                                                               3
/* Media Query */
