.our-team-container {
  background: linear-gradient(180deg, #111111 100%, #777777 0%);
  padding-inline: 1.25rem;
  padding-block: 4rem;
}
.our-team-content {
  text-align: center;
}
.our-team-content > p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.team-member-image-container {
  background-color: hsl(0 0% 100% / 0.1);
  padding: 1.25rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  max-width: 1060px;
  box-sizing: border-box;
}
.team-member-image-container {
  display: grid;
  grid-template-columns: repeat(1, auto-fill(10rem));
  gap: 1rem;
}
.team-member-img {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  max-width: 813px;
  height: 270px;
}
.team-member-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainer-info {
  position: absolute;
  top: 80%;
  left: 5%;
  color: var(--primary-text-color);
  text-transform: capitalize;
}
.trainer-name {
  font-weight: 800;
}
.trainer-occupation {
  color: var(--secondary-text-color);
  font-weight: lighter;
  font-size: 0.8rem;
}
.team-member-image-container :nth-child(5),
.team-member-image-container :nth-child(6) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .our-team-container {
    padding-inline: 1.8rem;
  }
  .team-member-image-container :nth-child(5),
  .team-member-image-container :nth-child(6) {
    display: block;
  }
  .team-member-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1060px) {
  .our-team-container {
    display: grid;
    place-items: center;
  }
}
